.btnMenuCloseX,
.btnTogglerArrowLeft,
.btnTogglerArrowRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  gap: 5px;
  background-color: #ffffff;
  border: 2px solid #f36c24;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.btnMenuCloseX:hover,
.btnTogglerArrowLeft:hover,
.btnTogglerArrowRight:hover {
  background-color: #f36c24;
}

.btnMenuCloseX:hover span,
.btnTogglerArrowLeft:hover span,
.btnTogglerArrowRight:hover span {
  background-color: #fff;
}

.btnMenuCloseX span,
.btnTogglerArrowLeft span,
.btnTogglerArrowRight span {
  background-color: #f36c24;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  transform-origin: right;
  transition: 0.3s ease-in-out;
}

/* ------------------------------------ */
/* btnMenuCloseX */
/* ------------------------------------ */
.btnMenuCloseX:hover span:nth-child(1) {
  transform: rotate(-45deg) translate(-2px, -2px);
}
.btnMenuCloseX:hover span:nth-child(2) {
  opacity: 0;
}
.btnMenuCloseX:hover span:nth-child(3) {
  transform: rotate(45deg) translate(-3px, 1px);
}

/* ------------------------------------ */
/* btnTogglerArrowLeft */
/* ------------------------------------ */
.btnTogglerArrowLeft:hover span:nth-child(1) {
  width: 10px;
  transform: rotate(-45deg) translate(-6px, -4px);
}
.btnTogglerArrowLeft:hover span:nth-child(3) {
  width: 10px;
  transform: rotate(45deg) translate(-6px, 4px);
}

/* ------------------------------------ */
/* btnTogglerArrowRight */
/* ------------------------------------ */
.btnTogglerArrowRight:hover span:nth-child(1) {
  width: 10px;
  transform: rotate(45deg) translate(9px, 3px);
}
.btnTogglerArrowRight:hover span:nth-child(3) {
  width: 10px;
  transform: rotate(-45deg) translate(9px, -3px);
}
