@use "../base/variables" as v;

// ============================================== //
// rdBtn
// ============================================== //
.RDCard {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.RDCard_image {
  position: relative;
  height: 5rem;
  aspect-ratio: 1;
  margin: auto;
}

// ============================================== //
// rdBtn
// ============================================== //
.rdBtn {
  min-height: 50px;
  line-height: 50px;
  border-radius: 5px;
  padding-inline: 30px;
  font-weight: 1rem;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.rdBtn a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.rdBtn.mainBtn {
  background-color: v.$primaryColor;
  border-color: v.$primaryColor;
  color: #fff;

  &:hover {
    background-color: v.$secondaryColor;
    border-color: v.$secondaryColor;
  }
}

.rdBtn.secondBtn {
  background-color: v.$secondaryColor;
  border-color: v.$secondaryColor;
  color: #fff;

  &:hover {
    background-color: v.$primaryColor;
    border-color: v.$secondaryColor;
  }
}

.rdBtn.mainBtn,
.rdBtn.secondBtn {
  &.smBtn {
    min-height: max-content;
    line-height: normal;
    padding: 5px 10px;
  }
}

.rdBtn.mainBtn:disabled,
.rdBtn.secondBtn:disabled {
  background-color: rgb(221, 221, 221);
  color: rgb(160, 160, 160);
  pointer-events: disabled;
  border: none;
  cursor: not-allowed;
}

// ============================================== //
// PageStripe
// ============================================== //
.pageStripe {
  height: 45vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.pageStripBackground {
  position: relative;
  height: 100%;
  width: 100%;
}

.pageStripBackground::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.pageStripeTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 5px;
}

// ============================================== //
// myModal
// ============================================== //
.myModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: 0.3s ease-in-out;
  opacity: 0;
  background-color: rgba(4, 4, 4, 0.53);
  backdrop-filter: blur(3px);
}

.myModal.active {
  opacity: 1;
  z-index: 1000;
}

.myModal_backdrop {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.myModal_content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

// ============================================== //
// Card
// ============================================== //
.myCard {
  width: clamp(200px, 90%, 600px);
  height: 100%;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: auto;
}

.myCard_details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.myCard_button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.myCard_button a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.myCard_text-body {
  color: rgb(134, 134, 134);
}

/*Image*/
.myCard_img {
  position: relative;
  height: 5rem;
  aspect-ratio: 1;
  margin: auto;
}

/*Text*/
.myCard_text-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/*Hover*/
.myCard:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.myCard:hover .myCard_button {
  transform: translate(-50%, -9%);
  opacity: 1;
}
