@use "../base/variables" as v;

.heroSlider_wrapper {
  position: relative;
}

.heroSlider_captions {
  position: absolute;
  width: clamp(200px, 80%, 500px);
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.heroSlider_captions h1 {
  font-weight: bolder;
  font-size: clamp(10px, 0.8rem + 5vw, 50px);
}

.heroSlider_btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  // border: 1px solid rgb(61, 106, 255);
  border: 1px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  // background: transparent;
  background-color: #ffffff41;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.heroSlider_btn a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.heroSlider_btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.heroSlider_btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.heroSlider_btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.heroSlider_slice {
  position: relative;
  // height: clamp(250px, 25rem + 10vw, 90vh);
  height: 80vh;
}

.heroSlider_slice::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(25, 5, 68, 1) 0%,
    rgba(96, 64, 255, 0) 100%
  );
  z-index: 2;
}

.vendorSlice {
  padding: 10px;
}

.vendorSlice_inner {
  padding: 20px;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: auto;
}

.vendorSlice_image {
  position: relative;
  aspect-ratio: 1;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.home_AboutImage {
  position: relative;
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.home_aboutCaptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.softwareCardImage {
  position: relative;
  width: 250px;
  height: 160px;
  flex-shrink: 0;
}
